{% extends "base.html" %} {% block title %}Éves szabadságok{% endblock %} 
{% block content %}


{% with caption='Éves szabadság módosítása', image='fa fa-building-o' %}
{% include "card_header.html" %}
{% endwith %}
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-6">
                                    <div class="form-group days_off_form_group">
                                        <label class="col-sm-12 control-label">
                                            Szabadnapok száma
                                        </label>
                                        <div class="col-sm-12">
                                            <input id='days_off' class='form-control form-control-sm'
                                                name='days_off' type='number' value="{{holiday.days_off}}" min="1" max="366" style="width: 100%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% with backurl='/annualholiday' %}
{% include "card_footer.html" %}
{% endwith %}
{% endblock %}