                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary float-right" id="cancel-btn"
                                data-toggle="tooltip" data-placement="top" title="Mégsem" onClick="javascript: window.location.replace('{{backurl}}');">
                                <i class="fa fa-ban"></i>&nbsp;Mégse
                            </button>
                            <button type="submit" class="btn btn-primary float-right" id="save-btn"
                                data-toggle="tooltip" data-placement="top" title="Mentés">
                                <i class="fa fa-floppy-o"></i>&nbsp;Mentés
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
