<div class="modal" role="dialog" id="delete-modal" data-backdrop="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content bg-default">
        <div class="modal-header">
          <h5 class="modal-title">Törlés megerősítés</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Biztos akarod törölni?
        </div>
        <div class="modal-footer">
          <button type="button" id="yes-btn" class="btn btn-primary"><i class="fa fa"></i>
              Igen</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa"></i>
              Nem</button>
        </div>
      </div>
    </div>
  </div>
