{% extends "base.html" %} {% block title %}Területek{% endblock %}

{% block content %}
    <h1 align="center">Területek</h1>

    <button type="button" class="btn btn-primary rounded-0" onClick="location.href='/department/add'" data-toggle="tooltip"
        title="Add"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Új terület
    </button>

    <table class="display" style="width:100%" id="departments">
        <thead>
            <tr>
                <th>Terület</th>
                <th>Minimum dolgozói létszám</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ department.data }}</td>
                <td>{{ department.min_employees }}</td>
                <td><a class="btn btn-success btn-sm rounded-0" href="/department/edit/{{department.id}}"><i
                            class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-danger btn-sm rounded-0"
                        onClick="deleteDepartment({{ department.id }})" data-toggle="tooltip" data-placement="top"
                        title="Delete"><i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'deletedialog.html' %}

{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='department.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#departments').DataTable();
        });
    </script>
{% endblock %}
