{% extends "base.html" %} 

{% block header %}
<link rel="stylesheet" href="static/frappe-gantt.css" />
<link rel="stylesheet" href="static/statuses.css" />

<script src="static/frappe-gantt.js"></script>

{% endblock %} 

    {% block title %}Szabadság igények{% endblock %} 

    {% block content %}
	<div class="container">
        <button type="button" class="btn btn-primary btn-sm rounded-0" onClick="addHoliday()" data-toggle="tooltip" title="Add"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Új szabadság igény</button>  
		<div class="gantt-target"></div>
	</div>
    {% include 'holiday_dialog.html' %}

    {% endblock %}

    {% block scripts %}

    {% include 'deletedialog.html' %}

	<script>

        var tasks = [];
        var gantt_chart;
 
        function getHolidays() {
            fetch('/holidaylist')
            .then(res => res.json())
            .then((out) => {
                tasks.length = 0;
                out.forEach(task => {tasks.push(task)});
                if (tasks.length > 0) {
                    console.log('typeof gantt_chart:', typeof gantt_chart);
                    if (typeof gantt_chart == 'undefined') {
                        var gantt_chart = new Gantt(".gantt-target", tasks, {
                            on_click: function (task) {
                                console.log(task);
                                editHoliday(task);                                                                
                            },
                            on_date_change: function(task, start, end) {
                                console.log(task, start, end);

                                fetch('/holidayedit', {
                                  method: "POST",
                                  body: JSON.stringify({ id: task.id, startDate:start, endDate:end })
                                })
                                .then(res => res.json())    
                                .then((out) => {
                                })
                                .catch(err => console.error(err));

                            },
                            on_progress_change: function(task, progress) {
                                console.log(task, progress);
                            },
                            on_view_change: function(mode) {
                                console.log(mode);
                            },
                            language: 'hu',
                            date_format: 'YYYY-MM-DD'
                        });
                        console.log('gantt created');
                    } else {
                        gantt_chart.refresh(tasks);
                        console.log('refresh')
                    }
                }
            })
            .catch(err => console.error(err));
        }


        function addHoliday() {

            jQuery('#save-btn').unbind('click').click(function() {

                $('#holiday-modal').ajaxSubmit({
                url: '/holidayadd',
                dataType: 'json',
                cache: 'false',
                method: "POST",
                beforeSend: function() {
                },
                success: function(data) {
                    if (data.success) {
                        getHolidays();
                        jQuery('#holiday-modal').modal('hide');
                        if (data.message) {
                            alert(data.message);
                        }
                    } else {
                        alert(data.message);
                    }
                },
                error: function(msg) {
                    alert('Hiba történt a mentés során!');
                }
                });
            });

            jQuery('#delete-btn').addClass('d-none');
            jQuery('#holiday-modal').modal({show:true});
        }

        function editHoliday(task) {

            jQuery('#save-btn').unbind('click').click(function() {

                $('#holiday-modal').ajaxSubmit({
                    url: '/holidayedit',
                    dataType: 'json',
                    cache: 'false',
                    method: "POST",
                beforeSend: function() {
                },
                success: function(data) {
                    if (data.success) {
                        jQuery('#holiday-modal').modal('hide');
                        getHolidays();
                    } else {
                        alert(data.message);
                    }
                },
                error: function(msg) {
                    alert('Hiba történt a mentés során!');
                }
                });
            });

            jQuery('#delete-btn').removeClass('d-none');
            jQuery('#holidayID').val(task.id);
            jQuery('#startDate').val(task.start.substring(0,10));
            jQuery('#endDate').val(task.end.substring(0,10));
            jQuery('#workDays').val(task.workdays);
            jQuery('#holiday-modal').modal({show:true});
        }



        getHolidays();



        document.addEventListener('DOMContentLoaded', function(){
            jQuery('#delete-btn').click(function() {
                var holidayID = jQuery('#holidayID').val();
                fetch("/delete-holiday", {
                method: "POST",
                body: JSON.stringify({ holidayID: holidayID }),
                }).then((_res) => {
                    jQuery('#holiday-modal').modal('hide');
                    getHolidays();
                });
            });
        });


    </script>
    {% endblock %}
