{% extends "base.html" %} {% block title %}Regisztráció{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Regisztráció</h3>
      <div class="form-group">
        <label for="email">Email Cím</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Adja meg az email címét"
          autocomplete="off" 
        />
      </div>
      <div class="form-group">
        <label for="firstName">Név</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Adja meg a nevét"
        />
      </div>
      <div class="form-group">
        <label for="password1">Jelszó</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Adja meg a jelszót"
        />
      </div>
      <div class="form-group">
        <label for="password2">Jelszó (Megerősítés)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Jelszó megerősítése"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Regisztráció</button>
    </form>
    {% endblock %}