{% extends "base.html" %} {% block title %}Felhasználókezelés{% endblock %} 

{% block content %}

{% with caption='Felhasználó módosítása', image='fa fa-building-o' %}
{% include "card_header.html" %}
{% endwith %}

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
                  <div class="form-group first_name_label">
                      <label class="col-sm-12 control-label">
                          Név
                      </label>
                      <div class="col-sm-12">
                          <input id='first_name' class='form-control form-control-sm'
                              name='first_name' type='text' value="{{userm.first_name}}" />
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group is_boss_form_group">
                      <label class="col-sm-12 control-label">
                          Főnök
                      </label>
                      <div class="col-sm-12">
                          <select id='is_boss' class='form-select form-select-sm'
                              name='is_boss' aria-label="Default select example" style="width: 100%;">
                              <option value=1
                              {% if userm.is_boss == 1 %}            
                              selected
                                {% endif %}
                              >Főnök</option>
                              <option value=0
                              {% if userm.is_boss == 0 %}            
                              selected
                              {% endif %}
                              >Dolgozó</option>              
                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group is_active_form_group">
                    <label class="col-sm-12 control-label">
                        Aktív
                    </label>
                    <div class="col-sm-12">
                        <select id='is_active' class='form-select form-select-sm'
                            name='is_active' aria-label="Default select example" style="width: 100%;">
                            <option value=1
                            {% if userm.is_active == 1 %}            
                            selected
                              {% endif %}
                            >Igen</option>
                            <option value=0
                            {% if userm.is_active == 0 %}            
                            selected
                            {% endif %}
                            >Nem</option>              
                        </select>
                    </div>
                </div>
            </div>
              <div class="col-md-6">
                  <div class="form-group email_form_group">
                      <label class="col-sm-12 control-label">
                          Email cím
                      </label>
                      <div class="col-sm-12">
                          <input id='email' class='form-control form-control-sm'
                              name='email' type='email' value="{{userm.email}}"  />
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group department_form_group">
                    <label class="col-sm-12 control-label">
                        Terület
                    </label>
                    <div class="col-sm-12">
                        <select id='departmentid'aria-label="Default select example" class='form-select form-select-sm'
                            name='departmentid' style="width: 100%;">
                            
                            {% for department in departments %}
                            <option value="{{ department.id }}"

                            {% if userm.departments.id == department.id %}            
                            selected
                            {% endif %}

                            
                            >{{ department.data}}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% with backurl='/usermanagement' %}
  {% include "card_footer.html" %}
  {% endwith %}
  {% endblock %}