{% extends "base.html" %} {% block title %}Felhasználókezelés{% endblock %} 
{% block content %}
  <h1 align="center">Felhasználókezelés</h1>
  <table class="display" style="width:100%" id="datatable">
    <thead>
      <tr>
          <th>Dolgozó</th>
          <th>Főnök</th>
          <th>Aktív</th>
          <th>Email cím</th>
          <th>Terület</th>
          <th>-</th>
      </tr>
    </thead>
    <tbody>
      {% for usr in users %}
      <tr>
          <td>{{ usr.first_name }}</td>
          <td>
            {% if usr.is_boss == 1 %}            
            Igen
            {% else %}
            Nem
            {% endif %}
          </td>
          <td>
            {% if usr.is_active == 1 %}            
            Igen
            {% else %}
            Nem
            {% endif %}
          </td>
          <td>{{ usr.email }}</td>
          <td>{{ usr.departments.data }}</td>
          <td><a class="btn btn-success btn-sm rounded-0" href="/usermanagement/edit/{{usr.id}}"><i class="fa fa-edit"></i></a>
      </tr>
      {% endfor %}

    </tbody>
  </table>


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <script>

    $(document).ready(function() {
      $.noConflict();
      $('#datatable').DataTable();
      } );

    
  </script>

  {% endblock %}