/* custom class */
.gantt .bar-status_0 .bar {
    fill: rgb(71, 172, 255);
}
.gantt .bar-status_1 .bar {
    fill: rgb(10, 212, 84);
}
.gantt .bar-status_2 .bar {
    fill: rgb(254, 40, 2);
}
